body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.cohort-name{
    font-size: 5em;
    margin-top: 20px;
}

.styled {
  border: 10;
  line-height: 2;
  padding: 10px, 30px;
  margin-left: 50px;
  font-size: 10rem;
  text-align: center;
  color: rgb(195, 255, 0);
  text-shadow: 1px 1px 1px black;
  /* text-wrap: balance; */
  border-radius: 40px;
  background-color: aquamarine;
  background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2) 50%,
    transparent
  );
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

.styled:hover {
  background-color: rgb(255, 166, 0);
  font-size: 10rem;
  text-align: center;
  color: rgb(151, 140, 253);

}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(0 0 0 / 0.6);
}
